#tieude{
    display: flex;
    flex-direction: column;
}
#anh{
    flex-direction: column;
    margin-left: 70px;
    height: 15%;
    width: 20%;
.tieude{
    color: blue;
}
.box{
    border: 2px solid black;
    padding: 10px;
    width: 40% ;
#line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#h1{
    font-size: 50px;
    font-family: fantasy;
.hihi{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 